doctype html
html
  head
    title= titre
    body
block content
  h2 Création de tâche
  form(action="/create", method="post")
  label(for="title") Titre de la tâche:
  input(type="text", id="title", name="title")
  br

  label(for="description") Description de la tâche:
  textarea(id="description", name="description")
  br

  label(for="imageUrl") URL de l'image de la tâche:
  input(type="text", id="imageUrl", name="imageUrl")
  br

  label(for="userId") ID associé à la tâche:
  input(type="text", id="userId", name="userId")
  br

  input(type="submit", value="Créer la tâche")


script.
  document.addEventListener('DOMContentLoaded', () => {
    const form = document.querySelector('form');

    form.addEventListener('submit', async (event) => {
      event.preventDefault();
      console.log('Formulaire soumis !');

      const formData = new FormData(form);

      try {
        const response = await fetch('/create', {
          method: 'POST',
          body: formData,
        });

        if (response.ok) {
          console.log('Réponse du serveur :', await response.json());
        } else {
          console.error('Erreur lors de la soumission du formulaire.');
        }
      } catch (error) {
        console.error('Erreur AJAX :', error);
      }
    });
  });
