extends layout.pug

block content
  h2 Création de tâche
  form(action="/api/things/add", method="post")
    label(for="title") Titre de la tâche:
    input(type="text", id="title", name="title")
    br

    label(for="description") Description de la tâche:
    textarea(id="description", name="description")
    br

    label(for="imageUrl") URL de l'image de la tâche:
    input(type="text", id="imageUrl", name="imageUrl")
    br

    input(type="submit", value="Créer la tâche")